

footer {
	margin-top:100px;
	overflow: hidden;
	img.footer_wave {
		width:1920px;
		display: block;
	}
}


.footer_bg {
	width:100%;
	background: $blueone;
	margin-top:-1px;
}

.footer_inner {
	max-width: 1769px;
	margin:0 auto;
	padding:0 142px;
	display: flex;
	justify-content: space-between;
}

.footer_left {
	flex-basis: 365px;
	flex-shrink:0;
	padding-left:25px;
	margin-top:160px;
	span {
		display: block;
	}
}

span.contact_us_title {
	color:#fff;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 0.025em;
	@include barlow_black_italic;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:6px;
		background: $red;
		margin:27px 0 20px;
	}
}


.footer_contact_wrapper {
	
}

.footer_contact_row {
	color:#fff;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.025em;
	@include barlow_med;
	display: flex;
	align-items: center;
	margin-left:-18px;
	margin-bottom:13px;
	a, span {
		margin-left:-5px;
	}
	a {
		color:#fff;
		text-decoration: none;
	}
	a.map_button {
		display: block;
		width:77px;
		margin-top:22px;
		background: transparent;
		border:2px solid $yellow;
		border-radius: 45px;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.2em;
		text-align: center;
		transition: all 200ms ease-in-out;
		@include barlow_black;
		&:hover {
			background: $yellow;
		}
	}
}


.footer_contact_row {
	.hours_wrapper {
		flex-grow: 1;
	}
	span {
		width:100%;
	}
	&:nth-of-type(2) {
		img {
			margin-top:-60px;
		}
	}
	&:nth-of-type(3) {
		margin-top:25px;
	}
}


.social_media {
	margin-top:66px;
	margin-left:45px;
	a {
		text-decoration: none;
		margin-right:5px;
		svg#sm {
			.st0-sm {
				transition: all 200ms ease-in-out;
			}
			.st1-sm {
				transition: all 200ms ease-in-out;
			}
		}
		&:hover {
			svg#sm {
				.st0-sm {
					fill:$red;
				}
				.st1-sm {
					fill:#fff;
				}
			}
		}
	}
}

.location_tagline {
	border-top:2px solid $yellow;
	margin-top:47px;
	padding-top:23px;
	span {
		color:#fff;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.025em;
		@include barlow_med;
		br {
			display: none;
		}
	}
}

.footer_right {
	flex-grow:1;
	margin-top:145px;
	padding:0 0px 0 205px;
	span {
		display: block;
	}
	span.footer_right_subheader {
		color:$red;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 0.025em;
		@include barlow_semibold;
	}
	span.footer_right_large_header {
		font-size: 85px;
		line-height: 90px;
		letter-spacing: 0.025em;
		color:#fff;
		text-transform: uppercase;
		margin-top:14px;
		margin-bottom:3px;
		@include barlow_black_italic;
	}
}


.form_wrapper {
	margin-top:37px;
	margin-bottom:94px;
	.gform_wrapper {
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li {
				flex-basis:49%;
				display: block;
				position: relative;
				margin-bottom:23px;
				label {
					position: absolute;
					top:27px;
					left:20px;
					display: block;
					font-size: 20px;
					letter-spacing: 0.025em;
					@include barlow_med;
					span.gfield_required {
						display: inline-block;
						color:$red;
					}
				}
				input, textarea {
					font-size: 20px;
					letter-spacing: 0.025em;
					width: 100%;
					border:none;
					box-shadow:inset 0px 0px 0px 1px $yellow;
					transition: all 200ms ease-in-out;
					padding:0 20px;
						@include barlow_med;
					&:focus {
						box-shadow:inset 0px 0px 0px 4px $yellow;
					}
				}
				input {
					height:77px;
				}
				textarea {
					height:180px;
					padding-top:15px;
				}
			}
			li#field_1_6 {
				flex-basis:100%;
				label {
					top:17px;
				}
			}
			li#field_1_7 {
				display: none;
			}
		}
	}
	.gform_footer {
		display: flex;
		justify-content: flex-end;
		padding-top:20px;
	}
	input[type="submit"] {
		background: $yellow;
		border:2px solid $yellow;
		color:#fff;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 0.08em;
		height:67px;
		width:183px;
		border-radius: 45px;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		@include barlow_black;
		&:hover {
			background: transparent;
		}
	}
	.gfield_description, .validation_message {
		color:$yellow;
		margin-top:3px;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.025em;
		@include barlow_semibold;
	}
	span.required_fields {
		color:#fff;
		text-transform: lowercase;
		font-size: 20px;
		letter-spacing: 0.025em;
		margin-top:-94px;
		@include barlow_med;
		span {
			display: inline-block;
			color:$red;
		}
	}
}



.copyright_wrapper {
	margin:155px 0 0;
	padding:0 90px 70px;
	.copyright_inner {
		max-width: 1725px;
		margin:0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include barlow_med;
		ul {
			li {
				color:#fff;
				display: inline-block;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.025em;
				&:after {
					content:"|";
					margin:0 4px 0 8px;
				}
				&:last-of-type {
					&:after {
						display: none;
					}
				}
				a {
					color:#fff;
					text-decoration: none;
				}
			}
		}
		a.ilawyer {
			position: relative;
			top:5px;
		}
	}
}


@media screen and (min-width: 1920px) {
	
	
	footer {
		img.footer_wave {
			width:100%;
		}
	}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1585px) {
	
	
	.footer_right {
		
	}
	
	
	.footer_inner {
		flex-direction: column;
		padding:0;
		max-width:912px;
	}
	
	.footer_left {
		order:2;
		margin-top: 91px;
		padding:0;
	}
	
	.footer_right {
		order:1;
		padding:0;
		
	}
	
	span.contact_us_title{
		&:after {
			margin: 27px 0 40px;
		}
	}
	
	.footer_contact_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	
	.footer_contact_row {
		align-items: flex-start;
		&:nth-of-type(1) {
			margin-top: 0px;
			img {
				margin-top:-15px;
			}
		}
		&:nth-of-type(1), &:nth-of-type(3) {
			//flex-grow:1;
		}
		&:nth-of-type(2) {
			flex-basis: 370px;
			flex-shrink: 0;
			margin-left:17px;
			img {
				margin-top: -13px;
			}
		}
		&:nth-of-type(3) {
			margin-top: 0px;
			flex-basis: 275px;
			flex-shrink:0;
			img {
				margin-top:-14px;
			}
		}
	}
	
	.sm_loc_wrapper {
		display: flex;
		align-items: center;
		margin-top:7px;
	}
	
	.location_tagline {
		order:1;
		flex-basis: 235px;
		flex-shrink: 0;
	}
	
	.social_media {
		order:2;
		margin-left:102px;
		margin-top:40px;
	}
	
	.copyright_wrapper {
		margin: 142px 0 0;
		padding: 0 90px 85px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	footer {
		img.footer_wave {
			position: relative;
			left: -700px;
		}
	}
	
	.footer_inner {
		//spadding:0 90px;
	}
	
	
	
	
	.footer_right {
		margin-top: 86px;
		span.footer_right_subheader {
			padding:0 90px;
		}
		span.footer_right_large_header {
			font-size: 65px;
			line-height: 70px;
			padding:0 0 0 90px;
		}
	}
	
	.form_wrapper {
    margin-top: 73px;
    padding:0 90px;
    .gform_wrapper {
	    ul {
		    display: block;
		    li {
			    input {
				    height:76px;
			    }
		    }
	    }
	    .gform_footer {
		   	padding-top: 37px;
	    }
    }
    span.required_fields {
	  	margin-top: -97px;
    }
  }
	
	
	.copyright_wrapper {
		text-align: center;
		padding: 0 90px 105px;
		.copyright_inner {
			display: block;
			a.ilawyer {
				top:0;
				display: inline-block;
				margin-top:22px;
			}
		}
	}
	
	
	.footer_left {
		padding:0 90px;
	}
	
	
	.footer_contact_wrapper {
		flex-wrap: wrap;
		
	}
	
	
	.footer_contact_row {
		margin-bottom: 4px;
		&:nth-of-type(1) {
			flex-basis:48%;
			order:1;
		}
		&:nth-of-type(2) {
			order:3;
			flex-basis:312px;
			margin-left:-19px;
			img {
				margin-top: 13px;
			}
		}
		&:nth-of-type(3) {
			flex-basis:50%;
			flex-basis:280px;
			order:2;
		}
	}
	
	
	.sm_loc_wrapper {
		justify-content: space-between;
	}
	
	
	
	.location_tagline {
		margin-top:39px;
		flex-basis:317px;
		span {
			br {
				display: inline-block;
			}
		}
	}
	
	.social_media {
		margin-left:0;
		margin-right:16px;
		margin-top:-250px;
		a {
			margin-left:3px;
		}
	}
	
	
	.copyright_wrapper {
		padding: 0px 88px 100px;
		margin: 110px 0 0;
		.copyright_inner {
			ul {
				li {
					font-size: 17px;
					line-height: 22px;
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	footer img.footer_wave {
    left: -1200px;
    //width:1400px;
	}
	
	
	.footer_right {
		span.footer_right_subheader {
			padding:0 30px;
		}
		span.footer_right_large_header {
			padding:0 30px;
			font-size: 50px;
			line-height: 55px;
		}
	}
	
	
	
} /* Media Query */