

#internal_main {
	min-height: 600px;
	overflow: hidden;
}



body:not(.page-template-default) {
	.content_left {
		margin-top:0;
	}
	.default_container {
		padding:250px 120px 0;
	}
}

.internal_banner {
	position: relative;
	overflow: hidden;
	width:100%;
	height:780px;
}


img.internal_banner_img {
	width: 2157px;
	height: 775px;
	position: absolute;
	top:-100px;
	left:0;
}


.internal_banner_content {
	position: relative;
	z-index: 1;
	max-width: 1660px;
	margin:0 auto;
	padding:180px 0 0 115px;
	display: flex;
	.banner_subheader {
		display: block;
		font-size: 26px;
		line-height: 32px;
		color:$red;
		@include barlow_bold;
	}
	.banner_largeheader {
		display: block;
		font-size: 70px;
		line-height: 65px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-top:24px;
		@include barlow_black;
	}
}

.banner_left {
	flex-grow:1;
}

.banner_right {
	flex-basis:742px;
	flex-shrink:0;
	position: relative;
	img {
		position: absolute;
	}
	img.att_one {
		width:390px;
		top:-53px;
		left:0;
	}
	img.att_two {
		width:485px;
		top:-62px;
		left:283px;
	}
}

a.banner_button {
	width:360px;
	height:75px;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index:1;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 0.08em;
	margin-top:25px;
	@include barlow_bold;
	span {
		margin-top:-3px;
	}
	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius: 50px;
		transition: all 200ms ease-in-out;
	}
	&:before {
		background: $redgrad;
		z-index:-2;
	}
	&:after {
		background:$bluegrad;
		z-index:-1;
		opacity: 0;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
}


.default_container {
	max-width: 1670px;
	margin:0 auto;
	position: relative;
	z-index:1;
	padding:0 120px;
}

.internal_container {
	padding:252px 120px 0;
	
}

.two_col {
	display: flex;
	justify-content: space-between;
}


.default_header {
	text-transform: uppercase;
	font-size: 65px;
	line-height: 65px;
	letter-spacing: 0.025em;
	margin-bottom:43px;
	@include barlow_black;
}

.internal_header {
	font-size: 80px;
	line-height: 85px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	@include barlow_black;
	&:after {
		content:"";
		display: block;
		width:100px;
		height:4px;
		background: $red;
		margin:50px auto 150px;
	}
}






.center {
	text-align: center;
}


.content_left {
	padding-right: 180px;
	margin-top:-77px;
}



.sidebar_wrapper {
	flex-basis:400px;
	flex-shrink:0;
	padding-bottom: 30px;
	margin-top:-243px;
}


.sidebar_box.active {
	padding:42px 0px 42px;
}

.sidebar_box {
	background: #fff;
	box-shadow: 0px 5px 19.6px 0.4px rgba(0, 0, 0, 0.2);
	padding:42px 0px 25px;
	margin-bottom: 60px;
	transition: all 200ms ease-in-out;
	&:last-of-type {
		margin-bottom: 0;
	}
	h3 {
		text-transform: lowercase;
		font-size: 35px;
		line-height: 40px;
		display: block;
		position: relative;
		padding:0 50px;
		cursor: pointer;
		@include barlow_black_italic;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:6px;
			background: $red;
			margin-top:23px;
			margin-bottom:20px;
		}
		span.dropdown_arrow {
			transform: rotate(0deg);
			transition: all 200ms ease-in-out;
		}
	}
	h3.active {
		span.dropdown_arrow {
			transform: rotate(180deg);
		}
	}
	ul {
		list-style: none;
		li {
			font-size: 22px;
			line-height: 26px;
			letter-spacing: 0.025em;
			@include barlow_semibold;
			a {
				color:$blueone;
				text-decoration: none;
				display: block;
				padding:22px 50px;
				cursor: pointer;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$yellow;
				}
			}
		}
	}
	li.active {
		> a {
			color:$yellow;
		}
	}
	ul {
		> li.menu-item-has-children {
				position: relative;
				> ul.sub-menu {
						background: $offwhite;
						display: none;
						padding-left:37px;
				}
				> a {
					span.dropdown_arrow {
						top: 30px;
						transform: rotate(180deg);
						transition: all 200ms ease-in-out;
					}
				}
				> a.active {
					span.dropdown_arrow {
						transform: rotate(0deg);
					}
				}
		}
		> li.current-menu-ancestor {
			> ul.sub-menu {
					display: block;
			}
	}
}

}
	
	
	
	
	
	
	
	
	
	
	span.dropdown_arrow {
		width:26px;
		height:14px;
		display: block;
		position: absolute;
		top: 19px;
		right: 51px;
		&:before, &:after {
			content:"";
			width:16px;
			height:3px;
			position: absolute;
			top:4px;
		}
		&:before {
			transform: rotate(42deg);
			left:12px;
			background: linear-gradient(35deg,  #eda31a 0%,#ed5b1a 100%);
		}
		&:after {
			transform: rotate(-42deg);
			left:2px;
			background: linear-gradient(-35deg,  #eda31a 0%,#ed5b1a 100%);
		}
	}



@media screen and (min-width: 1921px) {
	
	img.internal_banner_img {
		min-width:2157px;
		width:100%;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1700px) {
	
	
	img.internal_banner_img {
   left: -170px;
	}
	
	.internal_banner_content {
		.banner_largeheader {
			font-size: 60px;
			line-height: 60px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1550px) {
	
	
	
	.banner_right {
		flex-basis: 700px;
		img.att_one {
    	width: 350px;
    	top: -10px;
		}
		img.att_two {
			width: 395px;
			top:0;
			left: 265px;
		}
	}
	
	
	img.internal_banner_img {
   left: -230px;
	}

	
	
} /* Media Query */


@media screen and (max-width: 1490px) {
	
	
	
	.internal_banner_content {
		.banner_largeheader {
			font-size: 55px;
			line-height: 55px;
		}
	}
	
	
	a.banner_button {
		width: 335px;
    height: 67px;
	}
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 1470px) {
	
	img.internal_banner_img {
   left: -280px;
	}

	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.content_left {
		padding-right: 120px;
	}
	
	
	
	.internal_header {
		&:after {
	    margin: 50px auto 100px;
	  }
	 }		
	
	
} /* Media Query */



@media screen and (max-width: 1430px) {
	
	
	img.internal_banner_img {
   left: -280px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1390px) {
	
	
	img.internal_banner_img {
   left: -370px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	
	
	
	.internal_banner {
		height: 750px;
	}
	
	
	.internal_banner_content {
		.banner_largeheader {
			font-size: 50px;
			line-height: 50px;
		}
	}
	
	
	.banner_right {
		flex-basis: 635px;
		img.att_one {
    	width: 310px;
    	top: 60px;
		}
		img.att_two {
			width: 355px;
			top:70px;
			left: 235px;
		}
	}
	
	
	
	.two_col {
		display: block;
		margin:0px auto 0;
	}
	
	.default_header, .internal_header {
		font-size: 60px;
		line-height: 65px;
	}
	
	
	.content_left {
		padding-right:0;
		margin-top:0
	}
	
	
	.sidebar_wrapper {
		margin-top: 63px;
		width:400px;
		padding-bottom: 5px;
	}
	
	
	#internal_main {
		margin-bottom:-60px;
	}
	
	
	img.internal_banner_img {
   left: -400px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1280px) {
	
	
	img.internal_banner_img {
   left: -430px;
	}

	
} /* Media Query */


@media screen and (max-width: 1240px) {
	
	
img.internal_banner_img {
  	left: -500px;
  	height: 855px;
	}
	
	.banner_right {
		flex-basis: 590px;
		img.att_one {
			top: 70px;
			width: 350px;
			left:-100px;
		}
		img.att_two {
			top: 83px;
			width: 424px;
			left: 157px;
		
		}
	}
	
	
	.two_col {
		margin: 75px auto 0;
	}
	
	
	body:not(.page-template-default) {
		.default_container {
			margin-top:0;
		}
	}

	
	
} /* Media Query */



@media screen and (max-width: 1190px) {
	
	.internal_banner {
		display: none;
	}
	
	.two_col {
		margin: 180px auto 0;
	}
	
	.default_container {
		padding:0 60px;
	}
	
	body:not(.page-template-default) {
		.default_container {
			padding:180px 60px 0;
		}
	}
	
	
	.internal_container {
	  padding: 180px 60px 0;
	  &:after {
			margin: 30px auto 110px;
	  }
	}
	
	
} /* Media Query */


@media screen and (max-width: 1170px) {
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	

	#internal_main {
    margin-bottom: -80px;
}
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.two_col {
		margin-top:0;
	}
	
	.default_container {
		padding:140px 30px 0;
	}
	
	.internal_container {
	  padding: 140px 30px 0;
	}
	
	
	.default_header, .internal_header {
		font-size: 55px;
		line-height: 60px;
	}
	
	.internal_header {
		&:after {
			margin: 30px auto 60px;
		}
	}
	
	
	
	
	#internal_main {
		margin-bottom: -7px;
	}
	
	body:not(.page-template-default) {
		.default_container {
			padding: 140px 30px 0;
		}
	}
	   
	
} /* Media Query */


@media screen and (max-width: 690px) {
	
	
	.default_container {
		padding:110px 30px 0;
	}
	
	
	body:not(.page-template-default) {
		.default_container {
    	padding: 110px 30px 0;
		}
	}
	
	
	.internal_container {
	  padding: 110px 30px 0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 505px) {
	
	
	
	.sidebar_wrapper {
		width:100%;
	}
	
	.sidebar_box {
		h3 {
			padding: 0px 40px;
		}
		ul {
			li {
				a {
					padding: 22px 50px;
				}
			}
			> li.menu-item-has-children {
				 > ul.sub-menu {
					 padding-left:0;
				 }
			}
		}
	}
	
	span.dropdown_arrow {
  	right: 41px;
  }
	
	
} /* Media Query */



@media screen and (max-width: 400px) {
	
	
	
	.sidebar_box {
		h3 {
			padding:0 28px;
		}
		ul {
			li {
				a {
					padding-left: 28px;
					padding-right:28px;
				}
			}
		}
	}
	
	span.dropdown_arrow {
    right: 30px;
	}
	
	
} /* Media Query */