

body.page-template-template-about {
	.internal_header {
		&:after {
			display: none;
		}
	}
}


.about_container {
	padding:252px 120px 0;
}

.about_inner {
	max-width: 1440px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.about_left {
	
}

.about_content {
	margin-top:48px;
	padding-right: 90px;
}


.about_right {
	flex-basis: 645px;
	flex-shrink: 0;
	margin-top:185px;
}



.about_quote_wrapper {
	display: flex;
	margin-top:40px;
	justify-content: flex-end;
}


.about_quote {
	flex-basis:457px;
	flex-shrink:0;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:6px;
		background: $red;
		margin-bottom:23px;
	}
	span {
		font-size: 30px;
		line-height: 45px;
		letter-spacing: 0.035em;
		@include barlow_black_italic;
		strong {
			font-weight:normal;
			color:$yellow;
		}
	}
}

.about_awards {
	position: relative;
	img.wave {
		width:1920px;
		display: block;
		height: auto;
	}
	img.wave.bottom {
		margin-top:-1px;
	}
}


.about_wave_top {
	&:after {
		content:"";
		display: block;
		width:100%;
		height: 395px;
		background: red;
	}
}


.about_awards_inner {
	position: absolute;
	width:100%;
	top:0;
	left:0;
	//background: $offwhite;
}


.about_slider_inner {
	max-width: 1485px;
	margin:300px auto 0;
}

span.about_slider_title {
	font-size: 35px;
	line-height: 40px;
	display: block;
	text-align: center;
	@include barlow_black_italic;
	&:after {
		content:"";
		display: block;
		width: 100px;
		height:4px;
		background: $red;
		margin:46px auto 0;
	}
}

.about_slider {
	margin-top:58px;
	.slick-dots {
		position: relative;
		bottom: 0px;
		li.slick-active {
			button {
				&:before {
					color:$red;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$red;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $blueone;
					font-size:24px;
				}
			}
		}
	}
	.slick-slide {
	    margin: 0 20px;
	  }
	  /* the parent */
	  .slick-list {
	    margin: 0 -20px;
	    padding-bottom: 25px;
	  }
}

.about_single_slide {
	background: #fff;
	height:265px;
	box-shadow: 0px 5px 19.6px 0.4px rgba(0, 0, 0, 0.2);
	.about_slide_inner {
		display: flex;
		justify-content: center;
		align-content: center;
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
}


.about_bottom {
	max-width: 1427px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.about_bottom_left {
	flex-basis: 515px;
	flex-shrink: 0;
	margin-top:120px;
}

.about_bottom_right {
	padding-left:215px;
	margin-top:204px;
}


.about_bottom_quote_wrapper {
	display: flex;
	margin-top:40px;
	justify-content: flex-end;
}


.about_bottom_quote {
	flex-basis:275px;
	flex-shrink:0;
	margin-top:-90px;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:6px;
		background: $red;
		margin-bottom:23px;
	}
	span {
		font-size: 80px;
		line-height: 85px;
		letter-spacing: 0.025em;
		color:$yellow;
		text-transform: uppercase;
		@include barlow_black_italic;
		strong {
			font-weight:normal;
			color:$yellow;
		}
	}
}



@media screen and (min-width: 1920px) {
	
	
	.about_awards {
		img.wave {
			width:100%;
		}
}
	
	
} /* Media Query */

