


.large_internal_header {
	font-size: 80px;
	line-height: 85px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	@include barlow_black;
}



body:not(.page-template-default) {
	.sidebar_wrapper {
		margin-top:20px;
	}
}


.blog_feed  {
	padding-top: 54px;
}

.single_blog_post {
	padding-bottom:94px;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 82px;
	&:last-of-type {
		margin-bottom:12px;
	}
	h2 {
		a {
			color:$red;
			border:none;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$yellow;
				text-decoration: none;
				border:none;
			}
		}
	}
}


.content {

.meta_data {
	text-transform: uppercase;
	margin-bottom: 28px;
	line-height: 22px !important;
	.date {
		display: inline;
		font-size: 18px;
		//line-height: 23px;
		letter-spacing: 0.2em;
		@include barlow_black;
	}
	ul {
		display: inline;
		margin:0;
		li {
			display: inline;
			padding:0;
			margin:0;
			font-size: 18px;
			//line-height: 23px;
			letter-spacing: 0.2em;
			&:before {
				display: inline-block;
				width:5px;
				height:5px;
				position: static;
				margin:10px 15px 0 10px;
				vertical-align: top;
			}
			@include barlow_black;
			a {
				color:$blueone;
				transition: all 200ms ease-in-out;
				@include barlow_black;
				&:hover {
					color:$red;
				}
			}
		}
	}
}
}


a.blog_read_more {
	background: $yellow;
	color:#fff;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	margin-top:42px;
	letter-spacing: 0.08em;
	border-radius: 45px;
	padding:13px 27px;
	border:2px solid $yellow;
	transition: all 200ms ease-in-out;
	@include barlow_bold;
	&:hover {
		background: transparent;
		color:$yellow;
		text-decoration: none;
		border:2px solid $yellow;
	}
}


.pagination {
	width:100%;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 0.025em;
	a {
		color:$blueone;
		@include barlow_black_italic;
		&:hover {
			text-decoration: none;
		}
	}
	.navigation_buttons {
		display: flex;
		flex-basis: 115px;
		flex-shrink: 0;
	}
	.navigation {
		display: flex;
		flex-grow:1;
		ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom:0;
			li {
				padding:0;
				margin:0 0 0 7px;
				@include barlow_bold;
				&:before {
					display: none;
				}
			}
			li.active {
				a {
					color:$red;
				}
			}
			li.myprev, li.mynext {
				display: none;
			}
		}
	}
	.page_divider {
		width:4px;
		height:4px;
		background: $red;
		margin:15px 7px 0;
		border-radius: 50%;
	}
}


.blog_cat, .blog_archive {
	ul {
		display: none;
	}
}


.single {
	.meta_data {
		padding-top:55px;
	}
}


	.single {
		.single_blog_post {
			border:none;
			padding-bottom: 0;
		}
	}


@media screen and (max-width: 1330px) {
	
	
	.large_internal_header {
		font-size: 60px;
		line-height: 65px;
	}
	
	.sidebar_wrapper {
		margin-bottom: 20px;
	}
	
	body.single {
		.sidebar_wrapper {
			margin-top: 55px;
		}
	}
		
	    	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.large_internal_header {
		font-size: 55px;
		line-height: 60px;
	}
	
	
	.single_blog_post {
    padding-bottom: 70px;
		margin-bottom: 70px;
	}
	
	.meta_data {
		.date {
			font-size: 17px;
		}
		ul {
			li {
				font-size: 17px;
			}
		}
	}
	
	
} /* Media Query */