

.default_container {
	position: relative;
}

.cr_internal_block {
	position: absolute;
	top:120px;
	left:0;
	background: $offwhite;
	width:100%;
	height:340px;
}

img.cr_internal_wave {
	position: absolute;
	top:460px;
	left:0;
	width:1920px;
}


.cr_internal_wrapper {
	max-width: 1595px;
	margin:0 auto 50px;
	position: relative;
	z-index:1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&:after {
		content:"";
		display: block;
		flex-basis:32.1%;
	}
}

.single_cr_internal {
	text-align: center;
	flex-basis:32.1%;
	height:650px;
	margin-bottom: 30px;
	background: #fff;
	box-shadow: 0px 5px 19.6px 0.4px rgba(0, 0, 0, 0.2);
	padding:110px 35px 0;
	img.cr_svg {
		display: block;
		margin:0 auto;
	}
	span {
		display: block;
	}
	span.amount {
		text-transform: uppercase;
		font-size: 90px;
		line-height: 90px;
		margin-top:25px;
		@include barlow_black;
	}
	span.type {
		text-transform: uppercase;
		color:$red;
		font-size: 18px;
		letter-spacing: 0.2em;
		margin-top:23px;
		margin-bottom: 36px;
		line-height: 23px;
		@include barlow_black;
	}
	.description {
		line-height: 27px;
		letter-spacing: 0.05em;
		p {
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
}



@media screen and (min-width: 1920px) {
	
	
	img.cr_internal_wave {
		width:100%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1780px) {
	
	
	
	.single_cr_internal {
		span.amount {
			font-size: 80px;
			line-height: 80px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1400px) {
	
	
	.cr_internal_wrapper {
		margin-bottom:0;
	}
	
	.single_cr_internal {
		flex-basis: 48.5%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	
	
	
	.cr_internal_block {
  	height: 300px;
  	
  }
  
  img.cr_internal_wave {
	  top: 420px;
  }
  
	
	
	
} /* Media Query */



@media screen and (max-width: 1190px) {
	
	
	
.cr_internal_block {
	top: 92px;
	height: 270px;
}	


img.cr_internal_wave {
	top: 362px;
}


	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.single_cr_internal span.amount {
    font-size: 70px;
    line-height: 75px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 925px) {
	
	
	.cr_internal_wrapper {
		display: block;
		max-width: 600px;
	}
	
	.single_cr_internal {
		height:auto;
		padding: 70px 35px;
		.description {
			max-width: 440px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
	
	.single_cr_internal {
		padding: 60px 30px;
		span.amount {
			font-size: 60px;
			line-height: 65px;
		}
		span.type {
			margin-bottom: 25px;
		}
	}
	    
	
	
} /* Media Query */


@media screen and (max-width: 690px) {
	
	
	
	.cr_internal_block {
    top: 76px;
	}
	
	img.cr_internal_wave {
   	top: 346px;
	}
	
	
	
	
} /* Media Query */