

#section_five {
	padding:0 60px;
}


.sec_five_inner {
	max-width:1590px;
	margin:0 auto;
	display: flex;
}


.sec_five_left {
	flex-basis:647px;
	flex-shrink:0;
	margin-top:117px;
}


.sec_five_img {
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


.sec_five_quote_wrapper {
	display: flex;
	margin-top: -14px;
	justify-content: flex-end;
}

.sec_five_quote {
	flex-basis:405px;
	flex-shrink:0;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:6px;
		background: $red;
		margin-bottom:19px;
	}
	span {
		font-size: 30px;
		line-height: 45px;
		letter-spacing: 0.035em;
		@include barlow_black_italic;
		strong {
			font-weight:normal;
			color:$yellow;
		}
	}
}

.sec_five_right {
	flex-grow:1;
	padding: 0 95px 0 156px;
	span.sec_five_header {
		display: block;
		text-transform: uppercase;
		font-size: 85px;
		line-height: 90px;
		letter-spacing: 0.025em;
		color:$blueone;
		margin-bottom: 47px;
		@include barlow_black;
	}
}


@media screen and (max-width: 1700px) {
	
	
	.sec_five_right {
		span.sec_five_header {
			max-width: 480px;
		}
	}
	    
	
	
	
} /* Media Query */




@media screen and (max-width: 1620px) {
	
	
	.sec_five_right {
		padding: 0 40px 0 90px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	.sec_five_inner {
		flex-direction: column;
	}
	
	.sec_five_right {
		order:1;
		max-width: 1000px;
		margin:30px auto 0;
		padding:0;
		span.sec_five_header {
			max-width:100%;
			margin-bottom: 51px;
		}
	}
	
	.sec_five_left {
		order:2;
		max-width: 1000px;
		margin:53px auto 0;
		display: flex;
		flex-basis: auto;
	}
	
	.sec_five_img {
		flex-shrink: 0;
	}
	
	
	.sec_five_quote_wrapper {
		margin-top:117px;
		.sec_five_quote {
			&:before {
				margin-bottom: 16px;
			}
		}
	}
	
	   
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	.sec_five_right {
		margin: 130px auto 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1315px) {
	
	
	.sec_five_left {
		max-width:880px;
	}
	
	.sec_five_right {
		max-width:705px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1130px) {
	
	
	.sec_five_left {
		flex-direction: column;
		max-width: 705px;
	}
	
	.sec_five_quote_wrapper {
  	margin-top: -22px;
	}
	
	
	.sec_five_right {
		margin: 100px auto 0;
		span.sec_five_header {
			font-size: 70px;
			line-height: 75px;
			margin-bottom: 42px;
		}
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_five {
		padding:0 30px;
	}
	
	.sec_five_left {
		margin: 30px auto 0;
	}
	    
	
	.sec_five_right {
		margin: 98px auto 0px;
		span.sec_five_header {
			font-size: 55px;
			line-height: 60px;
			margin-bottom:52px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 575px) {
	
	
	.sec_five_quote {
		flex-basis:100%;
		span {
			font-size: 26px;
			line-height: 40px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 530px) {
	
	
	.sec_five_right {
		span.sec_five_header {
			max-width:300px;
		}
	}
	
	
} /* Media Query */


/*
@media screen and (max-width: 690px) {
	
	
	.sec_five_right {
		span.sec_five_header {
			max-width: 390px;
		}
	}
	
}
*/ /* Media Query */