

#section_six {
	overflow: hidden;
	margin-top: 50px;
	//background: pink;
	img.wave {
		display: block;
		width:1920px;
		position: relative;
	}
}

.sec_six_bg {
	background:$offwhite;
	height:395px;
	margin:-1px 0;
}


.sec_six_inner {
	max-width:1737px;
	margin: 0px auto 0;
	position: relative;
	padding:1px 86px 0;
	z-index:1;
	a.view_cr {
		top: -15px;
		right: 117px;
		background: #fff;
		color:$yellow;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $yellow;
			color:#fff;
		}
	}
	span.sec_six_title {
		display: block;
		font-size: 85px;
		letter-spacing: 0.025em;
		color:$yellow;
		margin-top:-39px;
		text-transform: uppercase;
		@include barlow_black;
	}
}


.sec_six_test_wrapper {
	display: flex;
	flex-wrap:wrap;
	margin:74px 0 0 0;
	justify-content: space-between;
}
	
	
.sec_six_test {
	flex-basis: 31.6%;
	background: #fff;
	box-shadow: 0px 5px 19.6px 0.4px rgba(0, 0, 0, 0.2);
	height:687px;
	text-align: center;
	padding:70px 30px 0;
	img {
		width:177px;
		height:32px;
	}
	span {
		display: block;
	}
	span.test_large_quote {
		margin-top: 49px;
		font-size: 35px;
		line-height: 40px;
		height:80px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include barlow_black_italic;
	}
	span.test_large_quote.long_count {
		height:auto;
		display: block;
	}
	.testi_description {
		font-size: 19px;
		line-height: 30px;
		margin-top:47px;
		max-width: 385px;
		margin:47px auto 0;
		&:before {
			content:"";
			display: block;
			width:100px;
			height:4px;
			margin:0 auto 28px;
			background: $red;
		}
		@include barlow_med;
		p {
			margin-bottom:30px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	span.name {
		font-size: 18px;
		margin-top:34px;
		line-height: 30px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		@include barlow_black;
	}
}



// ie hack - does not honor box model padding on flexed items

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
   .sec_six_test {
	   padding:70px 0 0;
   } 
   
}




@media screen and (min-width: 1920px) {
	
	
	#section_six {
		img.wave {
			width:100%;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1510px) {
	
	
	
	
	.sec_six_test {
		height: 715px;
		span.test_large_quote {
			height:auto;
			display: block;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {

	
	
	#section_six {
    margin-top: 103px;
	}
	
	.sec_six_test {
		flex-basis:48%;
		height:688px;
		&:nth-of-type(3) {
			display: none;
		}
		span.test_large_quote {
			max-width: 410px;
			margin-left:auto;
			margin-right:auto;
			height:80px;
		display: flex;
		align-items: center;
		justify-content: center;
			
		}
	}
	
	.sec_six_inner {
		span.sec_six_title {
			 margin-top: -59px;
		}
	 }
	 
	 
	 .sec_six_test_wrapper {
		  margin-top: 75px;
	 }
	
	
} /* Media Query */


@media screen and (max-width: 1375px) {
	
	
	.sec_six_inner {
		span.sec_six_title {
			max-width: 425px;
		}
		a.view_cr {
			top: 48px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1270px) {
	
	
	
	#section_six {
		img.wave.top {
			left:-200px;
		}
		img.wave.bottom {
			left:-240px;
		}
	}
	
	
	.sec_six_inner {
		a.view_cr {
			right:90px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1160px) {
	
	
	
	.sec_six_inner {
		text-align: center;
		span.sec_six_title {
			font-size: 70px;
			line-height: 75px;
			text-align: center;
			margin:-83px auto 0;
		}
	}
	
	
	.sec_six_test_wrapper {
    margin-top: 62px;
	}
	
	.sec_six_inner {
		a.view_cr {
		
		}
	}
	
		
	
} /* Media Query */


@media screen and (max-width: 990px) {
	
	
	#section_six {
		position: relative;
		img.wave.bottom {
			left: -180px;
			
		}
	}
	
	.sec_six_inner {
		text-align: center;
		a.view_cr {
			top:0;
			margin-top: 39px;
			margin-bottom:25px;
		}
		span.sec_six_title {
			margin-top:-363px;
		}
	}
	
	.sec_six_test_wrapper {
		max-width:495px;
		margin:42px auto 0;
		.slick-slide {
		   margin: 0 27px;
		 }
		 /* the parent */
		 .slick-list {
		   margin: 0 -27px;
		   padding-top:20px;
		   padding-bottom:30px;
		  }
		}
		
		
		.sec_six_test {
			height:auto;
			padding-bottom:55px;
			margin-bottom: 50px;
			img {
				margin-left:auto;
				margin-right:auto;
			}
			span.test_large_quote {
				
			}
			.testi_description {
				margin: 46px auto 0;
				&:before {
					margin: 0px auto 40px;
				}
			}
			span.name {
			
			}
		}
		
		// fixed height is messing with adaptive height on the slider
		
		
		.sec_six_bg {
    	height: auto;
			background: transparent;
   	}
   	
   	.sec_six_wave_top {
	 		&:after {
		 		content:"";
		 		display: block;
		 		width:100%;
		 		background: $offwhite;
		 		height: 280px;
	 		}
		}
		
		
		.sec_six_wave_bottom {
			position: absolute;
			top: 570px;
			left:0;
		}
	


	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_six {
		
	}
	
		.sec_six_wave_top {
	 		&:after {
		 		height: 170px;
		 		
	 		}
		}
	
	.sec_six_inner {
    padding: 1px 30px 0;
    span.sec_six_title {
	    font-size: 55px;
	    line-height: 60px;
	    margin: -354px auto 0;
    }
    a.view_cr {
	  	margin-top: 40px;
	  }
  }
  
  .sec_six_test {
	  img {
		  width:176px;
	  }
	  span.test_large_quote {
		  height:auto;
		  display: block;
		  max-width:235px;
		  margin-top: 48px;
	  }
	  .testi_description {
		 	margin: 45px auto 0;
	  }
	  span.name {
		 line-height: 23px;
	  }
  }
  
  .sec_six_wave_bottom {
	  top: 460px;
  }
  

	    
	
	
} /* Media Query */


@media screen and (max-width: 420px) {
	
	
	
	
	.sec_six_inner {
    a.view_cr {
	    width:100%;
    }
   }
	
	
} /* Media Query */